nav#navbar {
  display: flex;
  flex-flow: column nowrap;
  
  
  .nav-list{
    flex-basis: 100%;
    
    
    h3 {
      font-size: 16px;
      text-align: center;
      border: 1px solid #bbb;
      background-color: #ccc;
      padding: 10px;
      width: 100%;
      
      a {
        color: #000;
      }
    }
    
    .drop-menu {
      width: 100%;
      background-color: #fff;
      border: 1px solid #bbb;
      padding: 20px;
      z-index: 0;
      width: 100%;
      left: 0;
      top: 0;
      
      ul {
        list-style-type: none; 
        margin: 0;
      }
    }
  }
} 

@media (min-width: $screen-sm-min) {
  nav#navbar {
    flex-flow: row wrap;
    justify-content: flex-start;
    
    .nav-list{
      flex-basis: 16%;
      
      
      &:nth-of-type(3){
        flex-basis: 20%;
      }

      
      h3{
        &:hover {
          border-bottom: none;
          background-color: #fff;
        }
      }
      .drop-menu {
        border-top:none;
        padding: 20px;
        margin: 0 auto;
      }
      
      .showDrop {
        position: absolute;
        z-index: 9999;
      }
    }
  } 
}