.layout--threecol-25-50-25 > .layout__region--second {
    flex: 0 1 100%;
  }

.layout__region--first {
  padding-right: 20px;
  
  h2{
    font-size: 20px;
  }
} 
.views-field-field-file-upload {
  .field-content {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      
      .file span{
        border: none;
      }
    }
  }
}  


@media (min-width: $screen-sm-min) {
  .layout--threecol-25-50-25 > .layout__region--second {
    flex: 0 1 72%;
  }
}