<header>
  <section id="pagetop" class="header__midsection">
    <div class="container">
      <div class="row">
        <div class="col-sm-7">
          <div class="flex flex--center">
            <a href="/" class="header__logo w-inline-block"><img src="{{ base_path ~ directory }}/assets/img/logo.svg" width="164"></a>
            <h3 class="header-title"><a href="/" accesskey="1" title="Home" aria-label="Home" class="header__link margin--none">QIES Technical Support Office</a></h3>
          </div>
        </div>
        <div class="col-sm-5">
          {{ drupal_block('views_exposed_filter_block:search-page_1') }}
          <div class="fontsize--small color--gray">
            
          </div>
        </div>
      
      </div>
    
    </div>
  </section>
  <nav>
  </nav>
</header>