h2.iam-title {
  margin-top: 0;
}

.card-container {
  display: block;
  
  .group-list {
    background-color: $color-primary;
    margin-right: 0;
    padding: 10px 24px;
    color: $color-white;
    
    a {
      color: $color-white;
        
      &:hover,  &:visited {
        color: $color-white;
      }
    }
   }
}

.view-content-by-user-taxonomy {
  .views-row {
    margin-bottom: 20px;
  }
  .pager-nav {
    clear: both;
  }
}

#news {
    margin-top: 20px;
}


@media (min-width: 600px) {
  .card-container {
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    
    .group-list {
      flex: 1;
      margin-right: 1%;
      
      &:last-of-type {
        margin-right: 0;
      }
    }
  }  
}