ol, ul {
  padding-left: 1.5em;
  .popover &:last-child {
    margin-bottom: 0;
  }
}

// Page header.
.page-header {
  margin-top: 0;
}

#block-qtso-uswds-account-menu {
  li.menu-item {
    float: left;
    list-style-type: none;
    margin-right: 10px;
  }
}

.search-block-form.usa-sr-only {
  left: 0;
}

// Footer.
.footer {
  margin-top: 45px;
  padding-top: 35px;
  padding-bottom: 36px;
  border-top: 1px solid #E5E5E5;
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    //font-size: $font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}

.help-block, .control-group .help-inline {
  //color: $gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
}

//calendar pager
.view-display-id-page_month ul.js-pager__items {
  list-style-type: none;
  
  .pager__item--previous {
    float: left;
  }
  
  .pager__item--next {
    float: right;
  }
}

// submission map
.submission-map-container {
  display: table;
  
  a { display: table-cell; }
}

// tags
.block-entity-fieldnodefield-attributions {
  margin-top: 20px;
}

//bef override
.usa-search.usa-search-small,
.block-views-exposed-filter-blocksearch-page-1 {
  .bef-exposed-form .form--inline > .form-item {
    float: none;
  }
}

.form-item{
  overflow:inherit;
}
