<header class="{{ header_classes }}" id="header" role="banner">

  

  {% if header_basic %}
  <div class="usa-nav-container">
  {% endif %}

  <div class="usa-navbar">
    <div class="header-top">
      <div class="header-top-left usa-width-one-fourth">
        <div id="site-logo">{{ drupal_block('qtso_uswds_branding') }}</div>
      </div>
      <div class="header-top-middle usa-width-one-half">
        <div id="site-name">
          <a href="/" accesskey="1" title="Home" aria-label="Home" class="usa-logo-text"> QIES Technical Support Office</a>
        </div>
      </div>
      <div class="header-top-right usa-width-one-fourth">
        <div id="account-menu">{{ drupal_menu('account') }}</div>
        <div id="help-menu"><a href="/help">Help</a> | <a href="/contact-us">Contact Us</a></div>
        <div id="site-search" class="usa-search usa-search-small">{{ drupal_block('exposedformsearchpage_1') }}</div>
      </div>
    </div>
  </div>

  <div class="usa-overlay"></div>
  <div class="usa-nav" role="navigation">
    <div class="usa-nav-inner">

      <nav id="navbar">
        <div class="nav-list">
          <a href="/" class="cat-title">I am a...</a>
          
          <div class="drop-menu usa-sr-only">
            <section>
              <a href="/providers" class="sub-cat-title">Provider</a>  
              {{ drupal_view('taxonomy_menus', 'block_2') }}
            </section>
            <section>
              <a href="/vendors" class="sub-cat-title">Vendor</a>
              {{ drupal_view('taxonomy_menus', 'block_3') }}
            </section>
            <section>
              <a href="/cms-and-state-employees" class="sub-cat-title">CMS/State Employee</a>
              <div class="item-list">
                <ul>
                  <li><a href="/state-and-regional-employees/cms" hreflang="en">CMS (Regional/Central)</a></li>
                  <li><a href="/cms-and-state-employees/state-agencies" hreflang="en">State Agency</a></li>
                </ul>
              </div>
            </section>
          </div>
        </div>
        <div class="nav-list">
          <a href="/guides-and-manuals" class="cat-title">Guides &amp; Manuals</a>
          <div class="drop-menu usa-sr-only">
            <section>
              <a href="/guides-and-manuals" class="sub-cat-title">Providers, Vendors, CMS/State Employees</a>
              {{ drupal_view('taxonomy_menus', 'block_6') }}
            </section>
            <section>
              <a href="/guides-and-manuals" class="sub-cat-title">Software and Tools</a>
              {{ drupal_view('taxonomy_menus', 'block_7') }}
            </section>
          </div>
        </div>
        <div class="nav-list">
          <a href="/software" class="cat-title">Software</a>
          <div class="drop-menu usa-sr-only">
           {{ drupal_view('taxonomy_menus', 'block_5') }}
          </div>
        </div>
        <div class="nav-list">
          <a href="/training-materials/" class="cat-title">Training</a>
          <div class="drop-menu usa-sr-only">
            <section>
              <a href="/training-materials/" class="sub-cat-title">Providers, Vendors, CMS/State Employees</a>
              {{ drupal_view('taxonomy_menus', 'block_8') }}
            </section>
            <section>
              <a href="/training-materials/" class="sub-cat-title">Software and Tools</a>
              {{ drupal_view('taxonomy_menus', 'block_9') }}
            </section>
          </div>
        </div>
        <div class="nav-list">
          <a href="/access-forms" class="cat-title">Access Forms</a>
          <div class="drop-menu usa-sr-only">
            <a href="/access-forms">Visit Access Forms</a
          </div>
        </div>
       
      </nav>

    </div>
  </div>

  {% if header_basic %}
  </div>
  {% endif %}

</header>