#capslockdiv{
  height:1em;  
}

#capslockdiv P{
  display:none;
  color:#c61414;
  margin:0;
  background:url("images/warning.svg") left center no-repeat;
  background-size: 1.5em 1.5em;
  text-indent:2em;
  font-size:1em;  
  margin-left:.5em;
  line-height:2em;
  position: relative;
  top:-15px;  
}



/* Try to hide Page Titles on login pages */
#page-title,
h1#page-title,
h1.page-title,
h1.page-header{
  display:none;
}

p.login-title{
    line-height: 40px;
    font-size: 15px;
    font-weight: bold;
    color: #555;
    text-align: center;
    text-shadow: 0 1px white;
    background: #f3f3f3;
    border-bottom: 1px solid #cfcfcf;
    border-radius: 3px 3px 0 0;
    background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
    background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
    background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
    background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
    -webkit-box-shadow: 0 1px whitesmoke;
    box-shadow: 0 1px whitesmoke;    
}

#user-login-form{
  margin-bottom:2em;
}
#user-login-form .description{
  font-size:11px;
  color:#777;
  padding-left:10px;
}

/* Field Icons */
#edit-name
{
   background: #fff url("images/login-icon.svg") no-repeat 5px center;
   background-size: 1em 1em;
   text-indent:2em;
   border: 1px solid #aaa;   
}

#edit-pass{ 
    background: #fff url("images/password-icon.svg") no-repeat 5px center;
    background-size: 1em 1em;
    text-indent:2em;
    border: 1px solid #aaa;
}


/* Forms */
#user-login-form,
#user-pass
{
  max-width:600px;
  background-color:#fff;  
  border: 4px solid rgba(0, 0, 0, 0.08);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; 
  
  /* IE10+ */ 
  background-image: -ms-linear-gradient(top, #FFFFFF 0%, #F9FAF8 100%);
  
  /* Mozilla Firefox */ 
  background-image: -moz-linear-gradient(top, #FFFFFF 0%, #F9FAF8 100%);
  
  /* Opera */ 
  background-image: -o-linear-gradient(top, #FFFFFF 0%, #F9FAF8 100%);
  
  /* Webkit (Safari/Chrome 10) */ 
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(100, #F9FAF8));
  
  /* Webkit (Chrome 11+) */ 
  background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #F9FAF8 100%);
  
  /* W3C Markup */ 
  background-image: linear-gradient(to bottom, #FFFFFF 0%, #F9FAF8 100%);
}

#user-login-form .form-item,
#user-pass .form-item{
  padding-left:1em;
}

#user-pass .form-actions,
#user-login-form .form-actions{
  margin:0 0 1em 1em;
  padding:0;
}

form.user-pass p:nth-child(3){
  text-align:center;
}

#user-login-form .actions-suffix{
  float:right;
  position:relative;
  bottom:30px;
  right:10px;
}

#edit-actions{  
  margin-top:1em;
}

#user-pass label,
#user-login-form label{
  display:block;
  font-weight:normal;
  font-size:.8em;
}
.form-item{
  max-width:100%;
  overflow:hidden;
}
.form-item-pass,
p.forgot-password{
  display:inline-block;  
}
p.super-login-password{
  font-size:.9em;
  margin:0 0 0 1em;
}
p.forgot-password{
  margin-left:1em;
  position: relative;
  top:-5px;
}
a.super-login-register,
p.forgot-password a{
  border:none;
}

#user-pass .form-item.form-item-name,
#user-login-form .form-item.form-item-name{
  margin:1em 0;
}
#user-login-form .form-item.form-item-pass{
  margin:0;
}

#user-login-form .messages,
#user-pass .messages{
  margin:0 0 .1em .75em;
}

.back-to-login{
  font-size:.9em;
  float:right;
  margin:0 1em .125em 0;
}

input.form-text{
  border: 2px solid #dadada;
  max-width:375px;  
  overflow:hidden;
}

input.form-text:focus { 
    outline: none;
    border-color: #0088cc;
    box-shadow: 0 0 8px #9ecaed;
}

input.form-control{
  display:inline;
  width:auto;
}


/* Remove Chrome's autofill yellow */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}


/* input[type=submit] {
    padding: 0 18px;
    height: 29px;
    font-size: 12px;
    font-weight: bold;
    color: #527881;
    text-shadow: 0 1px #e3f1f1;
    background: #cde5ef;
    border: 1px solid;
    border-color: #b4ccce #b3c0c8 #9eb9c2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    outline: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background-image: -webkit-linear-gradient(top, #edf5f8, #cde5ef);
    background-image: -moz-linear-gradient(top, #edf5f8, #cde5ef);
    background-image: -o-linear-gradient(top, #edf5f8, #cde5ef);
    background-image: linear-gradient(to bottom, #edf5f8, #cde5ef);
    -webkit-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
} */
