.breadcrumb {
  margin-bottom: 0.5em;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: $color-gray-light;
  font-size: 14px;
  text-transform: uppercase;
  background-color: $color-white;
  padding: 0 0 0.5em 0;
  
  li:before {
    content: ' \2f ';
  }
}