.button {
  padding: 0.7em 2em;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 2px;
  background-color: $color-blue;
  font-size: 16px;
  font-weight: 600;
  
  &:hover {
    background-color: $color-blue-darkest;
    color: $color-white;
    text-decoration: none;
  }
  
  &.button--small {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    
    &.search__button {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
  }
}

.button-guides {
  border-radius: 2px;
  background-color: #2bb57a;
}

.button-training {
  border-radius: 2px;
  background-color: #da3c3c;
}

.button-software {
  padding: 8px 16px;
  border-radius: 2px;
  background-color: #ff8d35;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
  color: #fff;
  
  &:hover {
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, .3);
    color: #f1f1f1;
    text-decoration: none;
  }
  
  &.full-width {
    width: 100%;
    padding: 16px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
    font-weight: 600;
    text-align: center;
    
    &:hover {
      box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .2);
      color: #f1f1f1;
      text-decoration: none;
    }
    
    &.server {
      background-color: $color-blue-darkest;
    }
    
    &.pagelink {
      background-color: $color-blue;
    }
  }
  
  &.software {
    margin-bottom: 8px;
    
    &.full-width.server {
      background-color: $color-blue-darkest;
    }
  }
}

.buttons-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}