.flexcard {
  width: 48%;
  margin: 1%;
}

.card {
  margin-bottom: 1em;
  padding: 1.5em;
  border-radius: 4px;
  background-color: $color-aqua-lightest;
  -webkit-transition: box-shadow 508ms ease;
  transition: box-shadow 508ms ease;
  
  &:hover {
    box-shadow: 0 8px 16px 2px rgba(0, 0, 0, .2);
  }
  
  &.flexcard {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0%;
    margin-bottom: 2%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-transition: box-shadow 200ms ease;
    transition: box-shadow 200ms ease;
    
    &:hover {
      box-shadow: 0 7px 11px -3px rgba(0, 0, 0, .2);
    }
    
    &.outline {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-flex: 0;
      -webkit-flex: 0 auto;
      -ms-flex: 0 auto;
      flex: 0 auto;
      border-width: 2px;
      border-color: #3e7fde;
      background-color: $color-white;
      -webkit-transition: box-shadow 200ms ease;
      transition: box-shadow 200ms ease;
    
      &:hover {
        box-shadow: 0 7px 20px 1px rgba(0, 0, 0, .2);
      }
      
      &.guides {
        border-width: 2px;
        border-color: #2bb57a;
        text-align: left;
      }
      
      &.software {
        border-width: 2px;
        border-color: #ff8d35;
      }
      
      &.training {
        border-width: 2px;
        border-color: #da3c3c;
      }
    }
    
    &.flex.moo {
      padding: 0em;
      -webkit-box-align: stretch;
      -webkit-align-items: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
    }
    
    &.externalcard {
      background-color: $color-blue;
      color: $color-white;
    }
  }
  
  &.outline {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border: 1px solid $color-gray-light;
    background-color: transparent;
    text-align: center;
  }
  
  &.margin-card-top {
    margin-top: 1.5em;
  }
}

.featuredcard__content {
  padding: 1.5em 2em;
}

.darkcard {
  color: $color-white;
}

.cardlink--light {
  color: $color-cool-blue;
}

.card-subheading {
  margin-bottom: 0em;
  margin-left: 8px;
}