.footer {
  padding-top: 2em;
  padding-bottom: 2em;
  border-top: 3px solid $color-blue;
}

.footer__nav {
  margin-top: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  border-top: 1px solid $color-gray-light;
  border-bottom: 1px solid $color-gray-light;
}

.footer__nav--item {
  margin-right: 2em;
  color: $color-black-light;
  font-weight: $font-weight-bold;
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
}
