.loginform {
  margin-top: 1em;
  margin-bottom: 0px;
  padding: 1.5em 2em 2em;
  border-radius: 6px;
  background-color: $color-gray-lightest;
}

.textfield {
  height: 45px;
  margin-bottom: 1em;
  border: 1px solid $color-gray-light;
  font-size: 18px;
  
  &:hover {
    border-color: $color-blue;
  }
  
  &:focus {
    box-shadow: inset 0 2px 7px -3px $color-gray;
  }
  
  &::-webkit-input-placeholder {
    color: $color-gray;
  }
  
  &:-ms-input-placeholder {
    color: $color-gray;
  }
  
  &::placeholder {
    color: $color-gray;
  }
  
  &.margin--none {
    margin-bottom: 0em;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
}

.textfield--required {
  color: $color-red-darkest;
}