/* image */
.image {
  display: block;
  height: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}
.image-2 {
  display: block;
  height: 100%;
}

/* hero */
.hero-banner {
  display: none;
  height: 16em;
  margin-top: 1em;
  margin-bottom: 1.5em;
  background-image: url("../assets/img/5ac6626978b77e74ec2c433c_iStock_000075734267_Large.png");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.heroimage {
  height: 300px;
  padding-top: 6em;
  background-image: -webkit-linear-gradient(270deg, rgba(17, 46, 81, .29), rgba(17, 46, 81, .29)), url("../assets/img/5ac6626978b77e74ec2c433c_iStock_000075734267_Large.png");
  background-image: linear-gradient(180deg, rgba(17, 46, 81, .29), rgba(17, 46, 81, .29)), url("../assets/img/5ac6626978b77e74ec2c433c_iStock_000075734267_Large.png");
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
}

/* thumbnail */
.thumbnail {
  display: block;
  margin-right: 1em;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.thumbnail__image {
  width: 150px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-image: url("../assets/img/5ac6626978b77e74ec2c433c_iStock_000075734267_Large.png");
  background-position: 0px 0px;
  background-size: cover;
}

/* icon */
.icon {
  right: -7px;
  margin-right: 0.75em;
  float: left;
  -webkit-filter: saturate(0%);
  filter: saturate(0%);
}
.icon-external {
  margin-left: 8px;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}