.sitenav__navitem {
  position: static;
  float: left;
}

.nav__dropdown--item {
  padding: 1em 1.25em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: $color-white;
  font-size: 18px;
  cursor: pointer;

  &:hover {
    background-color: $color-blue-darkest;
    color: $color-white;
  }
  
  &:visited {
    color: $color-white;
  }
  
  &.w--open {
    background-color: $color-blue-darkest;
  }

  &.float--right.nav__login {
    padding-left: 2.5em;
    background-image: url("../assets/img/Icon_Login.svg");
    background-position: 15px 50%;
    background-size: 18px;
    background-repeat: no-repeat;
    font-weight: $font-weight-bold;
    
    &:hover {
      background-color: $color-blue-darkest;
    }
  }
}


.nav-menu {
  position: relative;
  display: block;
  width: 100%;
  float: left;
}

.navbar {
  position: absolute;
  left: 0px;
  right: 0px;
  background-color: $color-cool-blue;
}

.nav__dropdown.w--open {
  left: 0px;
  top: 60px;
  right: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2em;
  padding-bottom: 2em;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: $color-white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .21);
}

.nav__dropdown--col {
  padding-right: 2em;
  padding-left: 2em;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  
  &.border--none {
    border-left-style: none;
  }
}

.nav__dropdown--icon {
  right: -6px;
  display: none;
  color: #edd018;
}


/* subnav */
.subnav--link {
  display: inline-block;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 1em;
  color: $color-gray;
  line-height: 1.25em;
  text-decoration: none;
  
  &:hover {
    box-shadow: inset 3px 0 0 0 $color-blue;
    color: #212121;
    text-decoration: none;
  }
}

.subnav__listitem {
  padding-top: 0em;
  padding-bottom: 0em;
  padding-left: 0em;
  box-shadow: inset 1px 0 0 0 $color-gray-light;
}