.paragraph--type--uswds-grid {
  padding-top: 0;
  
  .usa-grid-full {
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    overflow: hidden;
    
    .paragraph--type--uswds-column {
      flex: 1;
      background-color: $color-primary;
      color: $color-white;
      padding: 15px 0; 
    
      div.field {
        margin: 0 auto;
        width: 80%;
        
        a {
          color: $color-white;
            
          &:hover,  &:visited {
            color: $color-white;
          }
        }
      }
      
      div.field--name-field-uswds-title {
        font-weight: 700;
      }
      
      div.field--name-field-view {
      
        .view-qies-to-success {
        
          ul {
            list-style-type: none;
          }
        }
        
      }
    }
  }
}

.paragraph--type--view {

  .field--name-field-uswds-title {
    @extend h2;
  }
}