.tag {
  margin-top: 0.5em;
  margin-right: 0.5em;
  padding: 0.25em 1em;
  border: 1px solid $color-blue;
  border-radius: 2px;
  background-color: transparent;
  color: $color-blue;
  font-size: $em-base;
  
  &:hover {
    background-color: $color-blue-darker;
    color: $color-white;
    text-decoration: none;
  }
}
