.breadcrumbs {
  margin-bottom: 0.5em;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #aeb0b5;
  font-size: 14px;
  text-transform: uppercase;
}