.content {
  padding-top: 2.5em;
  padding-bottom: 2em;

  &:hover {
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, .3);
  }
  
  &.content__homepage {
    position: relative;
    z-index: 400;
    margin-top: -5em;
    padding-top: 0em;
  }
}

.content--left {
  margin-bottom: 1em;
  padding-right: 3em;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.content-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1em;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}