.featured-content {
  width: 30.3%;
  margin-right: 1.5%;
  margin-left: 1.5%;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .19);
  -webkit-transition: box-shadow 508ms ease;
  transition: box-shadow 508ms ease;
  
  &:hover {
    box-shadow: 0 15px 20px 4px rgba(0, 0, 0, .2);
  }
}
