.footer {
  padding-top: 2em;
  padding-bottom: 2em;
  border-top: 3px solid #0071bc;
}

.footer__nav {
  margin-top: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  border-top: 1px solid #aeb0b5;
  border-bottom: 1px solid #aeb0b5;
}

.footer__nav--item {
  margin-right: 2em;
  color: #212121;
  font-weight: 700;
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
}
