.loginform {
  margin-top: 1em;
  margin-bottom: 0px;
  padding: 1.5em 2em 2em;
  border-radius: 6px;
  background-color: #f1f1f1;
}

.textfield {
  height: 45px;
  margin-bottom: 1em;
  border: 1px solid #aeb0b5;
  font-size: 18px;
  
  &:hover {
    border-color: #0071bc;
  }
  
  &:focus {
    box-shadow: inset 0 2px 7px -3px #5b616b;
  }
  
  &::-webkit-input-placeholder {
    color: #5b616b;
  }
  
  &:-ms-input-placeholder {
    color: #5b616b;
  }
  
  &::placeholder {
    color: #5b616b;
  }
  
  &.margin--none {
    margin-bottom: 0em;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
}

.textfield--required {
  color: #981b1e;
}