.header {
  position: relative;
  padding-bottom: 60px;
}

.header__display {
  margin-bottom: 0.5em;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 58px;
  line-height: 1em;
  font-weight: 700;
  text-shadow: 0 1px 6px rgba(17, 46, 81, .59);
}

.header__logo {
  margin-right: 1em;
  
  &.w--current {
    margin-right: 1em;
  }
}

.header__logo--text {
  margin-bottom: 0em;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #212121;
  font-size: 28px;
  line-height: 28px;
  text-decoration: none;
  
  &.w--current {
    color: #212121;
    font-size: 32px;
    text-decoration: none;
  }
}

.header__link {
  display: inline-block;
  text-decoration: none;
  
  &:hover {
    color: #212121;
    text-decoration: underline;
  }
  
  &.margin--none.w--current {
    color: #205493;
  }
  
  &.margin--none.w--current:hover {
    color: #0071bc;
  }
}

.header__midsection {
  position: relative;
  padding-top: 1.5em;
  padding-bottom: 1em;
  background-color: #fff;
}

.header-title {
  margin-bottom: 0em;
}

.header-icon {
  margin-right: 24px;
}

.page-header {
  margin-bottom: 0em;
  
  &.training-header {
    margin-bottom: 0.5em;
  }
  
  &.usertype {
    margin-bottom: 0.5em;
  }
}
