@media (max-width: 479px) {
  /* search */
  .search.mobileonly {
    padding-right: 1em;
    padding-left: 1em;
  }
  
  /* nav */
  .nav__dropdown--item {
    margin-right: 0px;
    padding-right: 1em;
    padding-left: 1em;
    float: none;
    
    &.float--right.nav__login {
      padding-left: 1em;
    }
  }
  .nav-menu {
    display: block;
  }
  .nav__dropdown--col {
    margin-right: 1em;
    margin-left: 1em;
  }
  
  /* typography */
  .text--leadcopy {
    font-size: 1em;
  }
  
  /* flex */
  .flex.flex--thumbnails {
    display: block;
  }
  
  /* header */
  .header__logo--text {
    display: none;
    
    &.w--current {
      display: none;
    }
  }
  .page-header {
    font-size: 2em;
  }
  
  /* container */
  .container {
    padding-right: 1em;
    padding-left: 1em;
  }
  
  /* list */
  .list {
    width: 100%;
  }
  .list-item-2 {
    width: 100%;
  }
  
  /* content */
  .content {
    padding-top: 5em;
  }
  
  /* footer */
  .footer__nav--item {
    width: 100%;
  }
  
  /* thumbnail */
  .thumbnail {
    margin-right: 0em;
    margin-bottom: 1em;
  }
  
  /* pagination */
  .pagination__actions {
    width: 32px;
    margin-right: 0.5em;
    margin-left: 0.5em;
    padding: 0.45em 0.5em;
  }
  
  .hideonmobile {
    display: none;
  }
  
  /* software */
  .software-list-column {
    margin-bottom: 1em;
  }
  
  .hero-banner {
    margin-top: 1em;
    margin-bottom: 1.5em;
  }
}