/* body text */

body {
  font-family: 'Open Sans', sans-serif;
  color: #212121;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 400;
}

.text--leadcopy {
  color: #5b616b;
  font-size: 1.3em;
  line-height: 1.35em;
  font-weight: 400;
}

.fontsize--small {
  font-size: 0.9em;
  
  &.card-list {
    padding-left: 24px;
  }
  
  &.darkcard.cardlink {
    color: #e1f3f8;
    text-decoration: underline;
  }
}

.fontsize--exsmall {
  clear: none;
  font-size: 14px;
  line-height: 1.4em;
  
  &.margin--bottom {
    display: inline-block;
    margin-bottom: 1em;
  }
}

.fontsize--large {
  font-size: 1.3em;
}

b, strong, .fontweight--bold {
  font-weight: 700;
}

.fontweight--regular {
  font-weight: 400;
  
  &.fontstyle--italics {
    font-style: italic;
  }
}

.fontstyle--italic {
  font-style: italic;
}


/* headers */
h1 {
  margin-top: 0px;
  margin-bottom: 0.5em;
  color: #212121;
  font-size: 3em;
  line-height: 1.2em;
  font-weight: 300;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0.5em;
  color: #000;
  font-size: 2em;
  line-height: 1.2em;
  font-weight: 700;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0.25em;
  color: #000;
  font-size: 1.75em;
  line-height: 1.2em;
  font-weight: 400;
}

h4 {
  margin-top: 0px;
  margin-bottom: 0.5em;
  color: #212121;
  font-size: 1.5em;
  line-height: 1.2em;
  font-weight: 700;
}

h5 {
  margin-top: 0px;
  margin-bottom: 0.5em;
  color: #000;
  font-size: 1.25em;
  line-height: 1.2em;
  font-weight: 700;
}

h6 {
  margin-top: 0px;
  margin-bottom: 0.25em;
  color: #5b616b;
  font-size: 1em;
  line-height: 1.2em;
  font-weight: 700;
}